* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Header Area Styles */
header {
    padding: 50px 240px;
    background: #ff900e1a;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

.site_title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

/* banner section */
.banner_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 295px 32px;
    text-align: center;
}

.banner_title {
    margin-top: 102px;
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.banner_description {
    color: #727272;
}

.primary_btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border-style: none;
    padding: 20px 25px;
    margin: 32px 600px 50px;
}



/* responsive styles */

/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    header img {
        width: 100%;
    }

    .banner {
        margin-top: -30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .primary_btn {
        margin: 10px 150px 12px;
    }

    .banner_content {
        padding: 20px;
    }

    .banner_title {
        font-size: 2rem;
    }
}

/* tablet or medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    header img {
        width: 100%;
    }

    .banner_title {
        margin: auto;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner_content {
        padding: 50px 120px 16px;
    }

    .primary_btn {
        justify-content: center;
        margin: 10px auto 12px;
    }

}